# Created by https://gitignore.org
# Laravel.gitignore

/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

#Audios

/public/uploads/audios/advertisements/*
!/public/uploads/audios/advertisements/.gitkeep

/public/uploads/audios/events/*
!/public/uploads/audios/events/.gitkeep

/public/uploads/audios/medias/*
!/public/uploads/audios/medias/.gitkeep

/public/uploads/audios/segues/*
!/public/uploads/audios/segues/.gitkeep

/public/uploads/covers/*
!/public/uploads/covers/.gitkeep

/public/uploads/playlists/*
!/public/uploads/playlists/.gitkeep

#Videos

/public/uploads/videos/advertisements/*
!/public/uploads/videos/advertisements/.gitkeep

/public/uploads/videos/events/*
!/public/uploads/videos/events/.gitkeep

/public/uploads/videos/medias/*
!/public/uploads/videos/medias/.gitkeep

/public/temp_uploads/covers/*
!/public/temp_uploads/covers/.gitkeep

/public/temp_uploads/merge/*
!/public/temp_uploads/merge/.gitkeep

/public/temp_uploads/pending/*
!/public/temp_uploads/pending/.gitkeep

/liquidScripts/*