@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.cover {
    /* https://css-tricks.com/almanac/properties/i/image-rendering/ */
    image-rendering: pixelated;
}

* {
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}

html {
    background-image: url("../images/bg.png");
}

.title {
    text-shadow: #8a8a8a 1.3px 1.3px 8px, #8a8a8a -1.3px -1.3px 8px;
}

.subtitle {
    text-shadow: #04AA6D 1.3px 1.3px 8px, #04AA6D -1.3px -1.3px 8px;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

a {
    text-align: center;
}

.home {
    border: 3px solid #04a96c;
    background-color: black;
    transition: background-color 0.2s, color 0.2s;
}

.home:hover {
    background-color: #006741;
    color: #c1bebe;
    cursor: pointer;
}

nav a {

    border: 3px solid #04a96c;
    background-color: black;
    transition: background-color 0.2s, color 0.2s;
    z-index: 1000;
}

nav a:hover {
    background-color: #006741;
    color: #c1bebe;
    cursor: pointer;
}

.computerButton {
    font-family: modern-dos, serif;
    border-color: #F8FE50;
    color: #F8FE50
}

.url:hover {
    color: #50eafe;
}

.dos {
    font-family: modern-dos, serif;
    color: #F8FE50
}

.red {
    color: #fe5050;
    border-color: #fe5050;
}

.purple {
    color: #FF00DC;
    border-color: #FF00DC;
}

.selected {
    border-color: #50eafe;
    color: #50eafe
}


@font-face {
    font-family: modern-dos;
    src: url('fonts/FSEX300.ttf');
}

#contentToShow {
    /*https://www.w3schools.com/howto/howto_css_overlay.asp Classique et efficace. */
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 50%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 60px;
    left: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.rightToLeft {
    animation-name: rightToLeft;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.leftToRight {
    animation-name: leftToRight;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/*https://stackoverflow.com/questions/19053181/how-to-remove-focus-around-buttons-on-click*/
input:focus, textarea:focus {
    border-color: #50eafe;
    color: #50eafe;
    outline: none;
    box-shadow: none;
}


@keyframes rightToLeft {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
}

@keyframes leftToRight {
    from {
        left: 50%;
    }
    to {
        left: 100%;
    }
}


.slider {
    -webkit-appearance: none;
    height: 6px;
    background: #222222;
    outline: none;
    border: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 0;
    background: #F8FE50;
    cursor: pointer;
    border: none;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    border-radius: 0;
    background: #F8FE50;
    cursor: pointer;
    border: none;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_circles */
.dot {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    animation: fading 1s infinite alternate;
}

@keyframes fading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.loadingBar {
    animation: loading 1s infinite;
}

window {
    background-color: #1A1A1A;
    border: 3px outset #A5A5A5;
    border-top: none;
}

window button {
    color: #FF8900;
    background-color: #404040;
    border: 3px outset #838383
}

window .header {
    border: 3px outset #838383;
    border-left: none;
    border-right: none;
}

window button:hover {
    background-color: #333333;
    cursor: pointer;
}

.active {
    background-color: #242424;
!important;
}

dropdown {
    background-color: rgba(0, 0, 0, 0.80);
}

.option {
    background-color: rgba(0, 0, 0, 0.80);
    padding-right: 12.5px;
}

.popup {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: pop-in 2s ease-in-out;
    animation-fill-mode: forwards;
    font-family: modern-dos, serif;
}

.popout {
    animation: pop-out 1s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes pop-in {
    0% {
        transform: translateX(100%);
    }
    10% {
        transform: translateX(-10%);
    }
    60% {
        transform: translateX(-1%);
    }
    100% {
        transform: translateX(-1%);
    }
}

@keyframes pop-out {
    0% {

    }
    100% {
        transform: translateX(100%);
    }
}

/* Settings */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

.settingItem {
    border-bottom: 3px outset #838383;;
}

.checkContainer {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #444444;
    /* L'outline ne compte pas dans la largeur donc la case semble débordé, j'ajuste de 5px. */
    outline: outset 5px #B0B0B0;
    margin-right: 5px;
    margin-top: 5px;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
    background-color: #505050;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
    border: outset 3px #DD983B;
    background-color: #C66200;
}


/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
    display: block;
}

.status {
    height: 100vh;
}

.console {
    font-family: "Courier New", Courier, monospace
}
